$block-name: "section";

.wp-block-#{$block-name} {
	padding: $block-padding;

	&.has-background {
		margin-top: 0;
		margin-bottom: 0;
	}
}

/**
 * All Alignment Settings
 */
.wp-block[data-type="core/#{$block-name}"] {

	// Child: Wide Alignment
	.wp-block[data-align="wide"] {
		@include break-small() {
			padding-left: $block-padding*2;
			padding-right: $block-padding*2;
		}
	}

	// Child: Full Alignment
	.editor-block-list__layout > .wp-block[data-align="full"] {
		left: auto;
		max-width: 100%;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;

		.editor-block-list__block-edit {
			margin-left: 0;
			margin-right: 0;
		}
	}
}


/**
 * Section Wide Alignment
 */
.wp-block[data-type="core/#{$block-name}"][data-align="wide"] {

	// Child: Standard Alignment
	.wp-block:not([data-align="wide"]):not([data-align="full"]) {
		@include break-wide() {
			width: calc((8 * (100vw / 12 ) ) - #{$block-padding});
		}

		@include break-xlarge() {
			width: 100%;
			max-width: calc((6 * (100vw / 12 ) ) - #{$block-padding});
		}
	}
}


/**
 * Section Full Alignment
 */
.wp-block[data-type="core/#{$block-name}"][data-align="full"] {

	// Inner Blocks centering content within the editor
	.editor-inner-blocks {
		margin-left: auto;
		margin-right: auto;
		padding-left: 7px;
		padding-right: 7px;
		width: calc(100vw - (2 * 1rem));

		@include break-small() {
			padding-left: 35px;
			padding-right: 35px;
		}

		@include break-medium() {
			padding-left: 52px;
			padding-right: 48px;
			width: 80%;
		}

		.editor-block-list__layout {
			margin-left: -$block-spacing;
			margin-right: -$block-spacing;
		}
	}

	// Cancel edge padding when filling the viewport
	.wp-block-#{$block-name} {
		padding-left: 0;
		padding-right: 0;
	}

	// Standard
	.wp-block:not([data-align="wide"]):not([data-align="full"]) {
		@include break-wide() {
			width: calc((8 * (100vw / 12 ) ));
		}

		@include break-xlarge() {
			width: 100%;
			// max-width: calc((6 * (100vw / 12 ) ) - #{$block-padding});
			max-width: calc((6 * (100vw / 12 ) ));
		}
	}

	// Wide
	.wp-block[data-align="wide"] {
		width: 100%;


		@include break-small() {
			padding-left: ($block-padding*3) + 1; // why 1px?
			padding-right: ($block-padding*3) + 3; // why 3px?
		}
	}

	// Full
	.wp-block[data-align="full"] {
		position: relative;
		padding-left: 0;
		padding-right: 0;
		width: calc(125% + 116px);
		left: calc(-12.5% - 57px);
		max-width: calc(125% + 116px);
	}
}
