/**
 * SHARED STYLES
 */
.wp-block-container {
	border: 1px dashed #999;

	&.has-background {
		margin-top: 0;
		margin-bottom: 0;
		border: 0;
	}
}


// .alignfull > .wp-block-container__inner.is-site-width {
//     margin-left: auto;
//     margin-right: auto;
//     max-width: 80%;
//     padding: 0 60px;
// }

.alignfull > .wp-block-container__inner.is-site-width {
	padding: 0;
	max-width: calc(100% - (2 * 1rem));
	margin: 0 1rem;
}

@media only screen and (min-width: 768px) {
	.alignfull > .wp-block-container__inner.is-site-width {
		max-width: 80%;
		margin: 0 10%;
		padding: 0 60px;
	}
}
